        header
        {
            border: 1px solid #000000;
            background-color: crimson;
            padding: 20px;
            text-align: center;
            color: white;
            text-decoration: underline white;
            width: 97%;
        }
        header:hover h1{
            background-color: brown;
        }
        .container{
            border: 1px solid black;
            height: 100%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: beige;
        }

        .container1 , .container2{
            border: 1px solid black;
            border-radius: 8px;
            /*flex-wrap: wrap;*/
            margin: 10px;
            /*display: flex;*/
            box-sizing: border-box;
        }
        .container1{
            width: 60%;
            height: 100%;
            background-color: rgb(224, 182, 245);
        }
        .container2{
            height: 350px;
            width: 40%;
            background-color:  rgb(224, 182, 245);
            justify-content: center ;
        }


        .box1, .box2 , .box3 , .box4, .box5 , .box6{
            color: white;
            text-align: center;
            margin: 22px;
            margin-right: 25px;
            height: 80px;
        }

        .box1{
            box-shadow: 1.5px;
            width: 150px;
            background-color: darkcyan;
            box-shadow: 2px 3px rgb(95, 167, 167);
            padding: 28px;
        }
        .box2{
            border-radius: 15px 60px;
            padding: 15px;
            border: 1px solid;
            background-color: pink;
            width: 150px;
        }
        .box2:hover , .box4:hover , .box1:hover ,.box6:hover , .box5:hover{
           background-color: rgb(216, 122, 141);
        }
        .box6{
            border: 1px solid rgb(235, 121, 187);
            background-color: rgb(235, 121, 187);   
            width: 250px;
            border-radius: 8px;
            border-style: groove;
            box-shadow: 5px 5px 5px 5px plum;
            clip-path: polygon(50% 0%, 100% 30%, 80% 100%, 20% 100%, 100% 30% );
        }

        .box4{
            border: 1px solid orange;
            width: 80px;
            background-color: orange;
            border-radius: 50%;   
        }
        .box5{
            border-radius: 90%;
            width: 200px;
            background-color: rgb(226, 4, 41);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            border-style: groove;

        }
        .box3{
            background-color: plum;;
            clip-path: polygon(
              50% 0%,    /* Top middle */
              0% 100%,   /* Bottom left */
              100% 100%  /* Bottom right */
            );
        }
        .box7{
            margin-top: 15%;
            margin-left: 2%;
            border: 1px solid black;
            background-color: rgb(121, 182, 30);
            height: 250px;
            width: 500px;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
            text-align: center;
            color: white;
            font-family: 'times new romen';
            font-size: xx-large;
            animation-name: myani;
            animation-duration: 10s;
            box-shadow: 4px 4px 4px 4px;
        }
        div:hover .box7 {
            transform: rotate(360deg);
        }
        @keyframes myani{
            form{
                background-color: rgb(121, 182, 30);
            }
            to{
                background-color: cornflowerblue;
            }
        }

        table
        {
            border: 3px solid black;
            width: 100%;
            height: 350px;
            border-collapse: collapse;
            border-radius: 10px;
        }
        tr{
            height: 50%;
        }
        td{
            border: 2px solid black;
            padding: 20px;
            border-radius: 8px;
            border-collapse: separate;
            width: 33%;
            margin: 5px;
        }